/* Estilos generales para el contenedor de Home */
.home-container {
    overflow-y: auto; 
    overflow-x: hidden; 
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Título de la sección */
  .home-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

.search-section {
    text-align: center;
    margin: 20px 0;
  }

/* Estilos del Message Box */
.message-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.message-box textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  font-size: 16px;
  resize: none;
}

.message-box button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.message-box button:hover {
  background-color: #575757;
}

