/* Estilos generales para el contenedor de Home */
.home-container {
    overflow-y: auto; 
    overflow-x: hidden; 
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Título de la sección */
  .home-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }  