/* Estilos generales para el contenedor de Home */
.home-container {
    overflow-y: auto; 
    overflow-x: hidden; 
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Título de la sección */
  .home-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Contenedor para las cartas */
  .cards-container {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  /* Estilos de cada carta */
  .card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Espacio para la imagen de contacto */
  .card-image {
    height: 150px;
    background-color: #eaeaea;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  /* Descripción de la carta */
  .card-description h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;
  }
  
  .card-description p {
    font-size: 14px;
    color: #666;
  }
  