html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../imagenes/Img_inicio.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Ajusta la opacidad aquí */
  }
  

/* Para centrar el contenido */
.content {
    position: relative;
    z-index: 1; /* Para que el contenido esté por encima del fondo */
    color: white; /* Color del texto */
    text-align: center; /* Alineación del texto */
    padding: 20px; /* Espaciado interno */

    font-size: 2em;
    font-family: Arial, sans-serif; /* Fuente */
  }

/* Para el botón Inicio sesion*/
.button1 {
    display: inline-block;
    padding: 10px 20px; 
    margin: 10px;
    background-color: #622d83;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Para el botón Registrarse*/
.button2 {
    display: inline-block;
    padding: 10px 20px; 
    margin: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

/* para el titulo con diseno la letras */
.title {
    font-size: 3em;
    font-family: 'Arial', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
