html, body {
    height: 100%;
    margin: 0;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../imagenes/Img_inicio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
  }

.content {
    position: relative;
    z-index: 1;
    text-align: center;
  }

.title2{
    color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }

.input-field {
    width: 300px;
    padding: 10px;
    font-size: 16px;

    position: relative;
    top: -65px;
  }
  
.input-field::placeholder {
    text-align: center;
    color: gray;
  }

.label {
    font-family: 'Arial', sans-serif;
    color: white;
    font-weight: bold;

    position: relative;
    top: -40px;
  }