/* Contenedor principal de la página de registro */
.register-page-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* Contenedor de la imagen del lado izquierdo */
.register-left-image {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
}

/* Estilos para la imagen */
.register-left-image img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Contenedor del formulario */
.register-page-container .register-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--extra-color);
  margin: 0;
}

/* Contenedor del contenido del registro */
.register-page-container .register-content {
  width: 450px;
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título */
.register-page-container .register-title {
  color: var(--text-primary);
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 32px 0;
  text-align: center;
  display: block;
}

/* Formulario */
.register-page-container .register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-page-container .register-form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Campos de entrada */
.register-page-container .register-input {
  width: 100%;
  padding: 12px 16px;
}

/* Mensaje de error */
.register-page-container .register-error {
  background-color: #FEE2E2;
  border: 1px solid var(--error-color);
  border-radius: 8px;
  padding: 12px 16px;
  color: var(--error-color);
  font-size: 14px;
  font-weight: 700;
  margin-top: 8px;
  text-align: center;
}

/* Grupo de botones */
.register-page-container .register-button-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

/* Botones */
.register-page-container .register-submit-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 24px;
  border: none;
}

.register-page-container .register-submit-btn:hover {
  background-color: #4338CA;
}

.register-page-container .register-back-btn {
  background-color: transparent;
  color: var(--text-secondary);
  padding: 12px 24px;
  border: 1px solid;
  border-color: #D1D5DB;
}

.register-page-container .register-back-btn:hover {
  background-color: #F3F4F6;
  border-color: #D1D5DB;
}
