:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --primary-color: #4F46E5;
  --secondary-color: #818CF8;
  --background-color: #F9FAFB;
  --text-primary: #111827;
  --text-secondary: #4B5563;
  --error-color: #ff5e32;
  --extra-color: #f8dc81;
  --success-color: #10B981;
  --accent-gradient: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  --max-width: 1440px;
  --header-height: 80px;
  --section-padding: 7rem 1rem;
  --section-gap: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
label{
  font-size: 14px;
  margin-bottom: 0.5em;
  color: var(--text-secondary);
  margin-bottom: 4px;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}