:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F5F5F5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --primary-color: #4F46E5;
  --secondary-color: #818CF8;
  --background-color: #F9FAFB;
  --text-primary: #111827;
  --text-secondary: #4B5563;
  --error-color: #ff5e32;
  --extra-color: #f8dc81;
  --success-color: #10B981;
  --accent-gradient: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  --max-width: 1440px;
  --header-height: 80px;
  --section-padding: 7rem 1rem;
  --section-gap: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
label{
  font-size: 14px;
  margin-bottom: 0.5em;
  color: var(--text-secondary);
  margin-bottom: 4px;
}

input{
  border: 4px solid var(--primary-color);
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
  display: block;
  box-sizing: border-box;
  
}


input:invalid:not(:placeholder-shown) {
  border-color: var(--error-color);
}

input:valid:not(:placeholder-shown) {
  border-color: var(--success-color);
}
input::placeholder {
  color: #9CA3AF;
  font-size: 16px;
}
input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1);
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}